.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
body{
  background-color: rgba(88, 136, 138, 0.959);
  margin: 0;
  height: 100%;
}
.nav {
display: flex;
justify-content: space-between;
background-color: antiquewhite;

}
.nav ul{
display:flex;
margin: 2px;
margin-right: 50px;
list-style-type: none;
gap: 40px;
margin-top: 20px;
font-weight: bold;

}
.logo{
  width: 100px;
}
.footer{
  background-color: antiquewhite;
  margin-top: 500px;
  height:70px;
  text-align: center;
  padding-top: 30px;
}
.copy{
 font-family: inter;
}
